<nav id="lbp-text-tool-bar" class="navbar navbar-default navbar-fixed-bottom" style="background-color: <%= @config.light_color %>;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#lbp-text-tool-bar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Text Tool Bar</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="lbp-text-tool-bar-collapse" class="collapse navbar-collapse" >
      <ul class="nav navbar-nav">
        <% unless params.has_key?(:msslug) && params[:msslug] != "critical" %>
          <li><a class="js-show-outline" data-itemid="<%= @itemid %>">Text Outline</a></li>
        <% end %>
        <% if @previous_itemid != nil  %>
          <li><%= link_to "Previous", show_text_path(@previous_itemid, params[:msslug]) %></li> 
        <% end %>
        <% if @next_itemid != nil %>
          <li><%= link_to "Next", show_text_path(@next_itemid, params[:msslug]) %></li> 
        <% end %>
          <li><a href="/text/status/<%= params[:itemid] %>">Available Transcriptions</a></li>
        
        
          
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Text Tools <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" class="js-show-item-xml" data-itemid="<%= @itemid %>">XML</a></li>
            <li class="divider"></li>
            <li><a href="#" class="js-show-item-info" data-itemid="<%= @itemid %>">Text Info/Stats</a></li>
            
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>