<%= render "text_nav_bar" %>
<% if params[:search] != nil %>
	<div id="lbp-text-body" class="container" data-search="<%= params[:search] %>" data-searchid="<%= params[:searchid] %>">
<% else %>
	<div id="lbp-text-body" class="container">
<% end %>
	<%= raw(@transform) %>
</div>
<!-- side window -->
<div id="lbp-side-window" style="background-color: <%= @config.light_color %>;">
	<nav id="lbp-bottom-window-nav-bar">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a class="js-close-side-window">Close</span></a></li>
				<li id="lbp-min-side-window"><a class="js-minimize-side-window">Min</span></a></li> 
				<li id="lbp-max-side-window"><a class="js-maximize-side-window">Max</span></a></li> 
			</ul>
		</div>
	</nav>
	<div id="lbp-side-window-container" style="">
	</div>
</div>
<!-- bottom window -->
<div id="lbp-bottom-window" style="background-color: <%= @config.dark_color %>;">
	<nav id="lbp-bottom-window-nav-bar">
		<div class="container-fluid">
			<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#lbp-bottom-window-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>
			<div class="collapse navbar-collapse" id="lbp-bottom-window-navbar-collapse">
	    	<ul class="nav navbar-nav">
					<li>
						<a class="js-expand-para-comment">Max
							<span class="dropup">
								<span class="caret"></span>
							</span>
						</a>
					</li> 
					<li><a class="js-halfsize-para-comment">50%</a></li>
					<li><a class="js-minimize-para-comment">Min<span class="caret"></span></a></li> 
					<li><a class="js-close-para-comment">Close</span></a></li>
				</ul>
			</div>
		</div>	
	</nav>
	<div id="lbp-bottom-window-container" class="container">
	</div>
</div>	