<div id="lbp-item-status-container" class="container">
  <% unless @results.count ==  0 %>
    <h3>Available transcriptions for: <%= @results.first[:item_title] %></h3>
    <table class="table table-striped table-hover">

      <% @results.each do |result|    
        slug = result[:transcript].to_s.split("/").last.split("_").first
        type = result[:transcript_type]
        status = result[:transcript_status]
        if type == "critical" || type == "Critical"
          link = "/text/#{@itemid}"
        else
          link = "/text/#{@itemid}/#{slug}"
        end
        %>
          <tr>
            <td><%= link_to result[:transcript_title].to_s, link %></td>
            <td><%= "type: #{type}" %></td>
            <td><%= "status: #{status}" %></td>
          </tr>
      <% end %>
    </table>
  <% else %>
    <div style="text-align: center; height: 400px; margin-top: 100px">
      <h4>Sorry this text has not been started. <%= link_to "Return to Table of Contents", text_path %></h4>
    </div>
  <% end %>
</div>