<div id="lbp-comments-list-container" class="container" >
	<% if @paragraph != nil %>
		<h1>Comments for <%= @item.title %>, paragraph <%= @paragraph.number %></h1>
	<% else %>
		<h1>Comments for <%= @item.title %>, paragraph <%= params[:pid] %></h1>
	<% end %>
		
	 

	
	<table class="table table-striped table-hover">
		<tbody>
			<% @comments.each do |comment| %>
				<tr>
					<td><%= comment.created_at %></td>
					<td><p><%= comment.user.email %><p></td>
					<td style="width: 70%"><%= raw(comment.comment) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
</div>

