<div id="lbp-comment-new-container" class="container center">
<% if @paragraph != nil %>
		<h1>Comments for <%= @item.title %>, paragraph <%= @paragraph.number %></h1>
	<% else %>
		<h1>Comments for <%= @item.title %>, paragraph <%= params[:pid] %></h1>
	<% end %>

<%= form_for :comment, url: comments_path, :html => { id: "lbp-new-comment-form" } do |f| %>
	<p>
		<%= f.text_area :comment, :class => 'ckeditor' %><br/>
	</p>
	<%= f.hidden_field :user_id, value: params[:user] %>
	<%= f.hidden_field :pid, value: params[:pid] %>
	<%= f.hidden_field :itemid, value: params[:itemid] %>
	<%= f.hidden_field :commentaryid, value: params[:commentaryid] %>
	<button type="submit" class="btn btn-default">submit</button>
	<% end %>
</div>