{{!-- this is handlebars template for text info --}}

<div style="font-size: 12px;">
<div>
<h1>
	{{#if previous}}
		<small><a href="#" class="js-show-paragraph-info" data-pid="{{previous}}" data-itemid="{{itemid}}">Previous</a></small>
	{{/if}}

	<a href="#" class="js-show-paragraph-info" data-pid="{{pid}}" data-itemid="{{itemid}}">Paragraph {{number}}</a>

	{{#if next}}
		<small><a href="#" class="js-show-paragraph-info" data-pid="{{next}}" data-itemid="{{itemid}}">Next</a></small>
	{{/if}}
</h1>
</div>

<div>
<h3>Paragraph Info</h3>
{{#if abbreviates}}
	{{#each abbreviates}}
		<p>Abbreviates <a href="{{this}}">{{this}}</a></p>
		<p style="padding-left: 20px"><a class="js-show-reference-paragraph" href="#" data-url="{{this}}">View Text</a><p>
	{{/each}}
{{/if}}
{{#if abbreviatedBy}}
	{{#each abbreviatedBy}}
		<p>Abbreviated by <a href="{{this}}">{{this}}</a></p>
		<p style="padding-left: 20px"><a class="js-show-reference-paragraph" href="#" data-url="{{this}}">View Text</a><p>
	{{/each}}
{{/if}}
{{#if references}}
	{{#each references}}
		<p>References <a href="{{this}}">{{this}}</a></p>
		<p style="padding-left: 20px"><a class="js-show-reference-paragraph" href="#" data-url="{{this}}">View Text</a><p>
	{{/each}}
{{/if}}
{{#if referencedBy}}
	{{#each referencedBy}}
		<p>Referenced by <a href="{{this}}">{{this}}</a></p>
		<p style="padding-left: 20px"><a class="js-show-reference-paragraph" href="#" data-url="{{this}}">View Text</a><p>
	{{/each}}
{{/if}}
{{#if copies}}
	{{#each copies}}
		<p>Copies <a href="{{this}}">{{this}}</a></p>
	{{/each}}
{{/if}}
{{#if copiedBy}}
	{{#each copiedBy}}
		<p>Copied by <a href="{{this}}">{{this}}</a></p>
	{{/each}}
{{/if}}
{{#if quotes}}
	{{#each quotes}}
		<p>Quotes <a href="{{this}}">{{this}}</a></p>
	{{/each}}
{{/if}}
{{#if mentions}}
	{{#each mentions}}
		<p>Mentions <a href="{{this}}">{{this}}</a></p>
	{{/each}}
{{/if}}
</div>
<div>
	<h3>Paragraph Statistics</h3>
	<p>Word Count: {{wordcount}}</p>
	<p>Word Frequency</p>
	<ul>
		{{#each wordfrequency}}
			<li>{{@key}}: {{this}}</li>
		{{/each}}
	</ul>
</div>
<div>
{{#if transcriptions}}
	<h3>Available Transcriptions</h3>
	{{#each transcriptions}}
		<p><a href="{{this}}">{{this}}</a></p>
	{{/each}}
{{/if}}

</div>
</div>