/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 */

* site theme colors

$dark-color: 					<%= "#B3B2B2" %>
$light-color: 				<%= "#E8E7E7" %>
$text-color: 					black
$text-bgcolor: 				white

* bootstrap overrides 
$navbar-default-bg:    $light-color


* bootstrap imports 
@import "bootstrap-sprockets"
@import "bootstrap"

* custom mixins
@import "mixins"

* global 
@import "global"

* components
@import "footer"
@import "bottom_window"
@import "side_window"
@import "paragraphmenu"
@import "pub_info"
@import "comments"
@import "para_zoom"
@import "footnotepopup"

* pages
@import "pages"
@import "text"
@import "paragraphimage"
@import "articles"
@import "toc"
@import "timelinelist"
@import "indices"
@import "posts"
@import "bibliography"

* vendors
@import "../../../vendor/assets/stylesheets/jquery.snippet"










