<nav id="lbp-top-nav-bar" class="navbar navbar-default navbar-fixed-top" style="background-color: <%= @config.dark_color %>;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav">
        <li class="dropdown"> 
          <!-- <a class="navbar-brand" href="/"> -->
          <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-expanded="false">
            <span><%= @config.logo %></span>
            <span class="caret" style="margin-left: 5px;"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <%= link_to "Home", "/" %>
            </li>
            <li class="divider"></li>
            <% Setting.all.each do |setting| %>
            <% unless setting.commentaryid == @config.commentaryid %>
              <li>
                <%= link_to setting.logo, "http://#{setting.commentaryid}.lombardpress.org" %>
              </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="/text">Text <span class="sr-only">(current)</span></a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Text <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/text">Table of Contents</a></li>
            <li><a href="/text/questions">Table of Questions</a></li>
            <li><a href="/index">Index</a></li>
          </ul>
        </li>
        
        <form class="navbar-form navbar-left" role="search" action="/search" method="get">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Text" name="searchterm">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% @config.articles.each do |article| %>
              <% unless article.article_name == "about" %>
                <li><%= link_to article.article_name.capitalize, show_article_path(article.article_name) %></li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if @config.articles.select {|article| article.article_name == "about"}.count != 0 %>
              <li><a href="/articles/about">About this Project</a></li>
            <% end %>  
            <% if @config.blog %>
              <li><a href="/blog">Blog/News</a></li>
            <% end %>  
            <li class="divider"></li>
            <li><a href="http://lombardpress.org" target="_blank">About LombardPress</a></li>
            <li><a href="http://scta.info" target="_blank">About the Sentences Commentary Text Archive (SCTA)</a></li>
            <li><a href="http://images.scta.info" target="_blank">The SCTA Image Viewer</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <!-- change then when I know how to check if session cookie is set with devise -->
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", '/users/profiles/' + current_user[:id].to_s %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", "/users/sign_out", method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", '/users/sign_in' %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>