<!DOCTYPE html>
<html>
<head>
  <title>Lombardpress2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/header" %> 
	<% flash.each do |key, value| %>
	<% @class = if key == "alert" then "alert-warning" else "alert-info" end %> 
	<div class="alert <%= @class %> alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<%= value %></div>
	<% end %>
	
	 
	<%= yield %>

<%= render "shared/footer" %> 
<%= debug(params) if Rails.env.development? %>
<%= "User Loggied in: " + user_signed_in?.to_s if Rails.env.development? %>
<%= "id: " + current_user.id.to_s + " username/email: " + current_user.email + " role: " + current_user.role if Rails.env.development? && user_signed_in?%>

<% if current_user %>
	<script type="text/javascript">
	analytics.identify( "<%= current_user.id %>", {
	  email: "<%= current_user.email %>"
	});
	</script>
<% end %>


</body>
</html>
